* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/1895701/pexels-photo-1895701.jpeg?cs=srgb&dl=pexels-lisa-fotios-1895701.jpg&fm=jpg&w=3024&h=4032");
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 85px;
	padding: 15px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #fff;
  line height: 1.5;
  letter-spacing: 1px;
}

.about-wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/3162022/pexels-photo-3162022.jpeg?cs=srgb&dl=pexels-caleb-oquendo-3162022.jpg&fm=jpg&h=5872&w=4000&fit=crop);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial {
  padding: 30px 100px;
}

article h1 {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: auto;
  clear: both;
}

article h1:after {
  content: "";
  height: 5px;
  width: 225px;
  background-color: #fff;
  display: block;
  margin: auto;
}

article img {
  height: 50vh;
  width: 50vh;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 0%;
  
}

article ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

blockquote {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

article h5 {
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 30px;
  letter-spacing: 1.5;
}

article p {
  font-size: 17px;
}

/* .gallery {
  height: 100%;
  width: 100%;
} */